.selector-container {
	color: #212529;
}
.selector-container > .selector-input {
	padding: .375rem .75rem;
	height: calc(2.25rem + 2px);
	background-image: none;
	background-color: transparent;
	border-color: #ced4da;
	box-shadow: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selector-container.open > .selector-input {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.3);
}

.selector-container > .selector-dropdown > .selector-option {
	padding: .375rem .75rem;
	color: #212529;
}

.selector-container > .selector-dropdown > .selector-option.active {
	background-color: rgba(0, 0, 0, 0.1);
}
