.ui-select-container {
	display: block;
}

.ui-select-container > .ui-select-match {
	padding: .375rem .75rem;
	height: calc(2.25rem + 2px);
	background-image: none;
	background-color: transparent;
	border-color: #ced4da;
	box-shadow: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ui-select-container.select2-container-active > .ui-select-match {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.3);
}

.ui-select-container > .ui-select-dropdown {
	border-color: #80bdff !important;
	box-shadow: none !important;
}

.select2-results .select2-highlighted {
	background: #007BFF;
}

.select2-container .select2-choice .select2-arrow,
.select2-container .select2-choice .select2-arrow b {
	background-image: none;
	background-color: transparent;
}
.select2-container .select2-choice .select2-arrow {
	border-color: transparent;
}
.select2-container .select2-choice .select2-arrow b {
	position: relative;
}
.select2-container .select2-choice .select2-arrow b:before {
	position: absolute;
	content: " ";
	top: 50%;
	left: 0;
	margin-top: -3px;
	border-style: solid;
	border-color: #444 transparent transparent;
	border-width: 6px 5px 0;
}
.ui-select-choices-row:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
