<div ng-controller="VehicleDetailsController as vm">
	<h2>Step 2: Item Details</h2>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta repellat animi eos vitae quos iste neque debitis rem quas expedita distinctio incidunt doloremque cumque dolorem molestias vero, dolorum quia temporibus?</p>
	
	<form name="form" ng-submit="vm.submit(form)" novalidate>
		<div class="row">
			<div class="col-12 col-md">
				<div class="form-group">
					<label>Car Brand</label>
					<ui-select ng-model="vm.brand" theme="select2" on-select="vm.brandChange()" name="brand" ng-required="true" class="form-control">
						<ui-select-match placeholder="Select a car brand">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item.name as item in vm.opt.brand | filter: $select.search">
							<div ng-bind-html="item.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
					<div class="invalid-feedback" ng-messages="form.brand.$error">
						<div ng-message="required">First Name is required</div>
					</div>
					
				</div>
			</div>
			<div class="col-12 col-md">
				<div class="form-group">
					<label>Car Model</label>
					<ui-select ng-model="vm.model" theme="select2">
						<ui-select-match placeholder="Select a car model">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item.name as item in vm.opt.model | filter: $select.search">
							<div ng-bind-html="item.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12 col-md">
				<div class="form-group">
					<label>Sum Insured</label>
					<input type="text" name="firstName" class="form-control" required
						ng-model="vm.firstName"
						ng-minlength="5"
						ng-maxlength="100"
						ng-pattern="/^[A-z ]+$/"
						ng-custom-class-on-error="is-invalid">
					
					<div class="invalid-feedback" ng-messages="form.firstName.$error">
						<div ng-message="required">First Name is required</div>
						<div ng-message="minlength">First Name must be at least 5 characters</div>
						<div ng-message="maxlength">First Name must be at most 100 characters</div>
						<div ng-message="pattern">Only alphabets and spaces allowed</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<step-form-buttons show-previous="true" show-next="true"
		on-previous="vm.goBack()"></step-form-button>
	
</div>
