<div ng-controller="VehicleDetailsController as vm">
	<h2>Step 2: Item Details</h2>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta repellat animi eos vitae quos iste neque debitis rem quas expedita distinctio incidunt doloremque cumque dolorem molestias vero, dolorum quia temporibus?</p>
	
	<form name="form" ng-submit="vm.submit(form)" novalidate>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<!-- on-select="ctrl.onSelectCallback($item, $model)" -->
					<!-- ng-disabled="ctrl.disabled" -->
					
					<ui-select ng-model="vm.brand" theme="select2" title="Choose a person">
						<ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item.id as item in vm.opt.brand | filter: $select.search">
							<div ng-bind-html="item.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="col-12 col-md">
				<!-- <div class="form-group">
					<label>Car Brand</label>
					
					<select name="brand" ng-change="vm.brandChange()" ng-model="vm.brand" ng-options="item for item in vm.opt.brand">
						<option ng-repeat="item in vm.opt.brand" value="{{ item }}">{{ item }}</option>
					</select>
					
					<div class="invalid-feedback" ng-messages="form.brand.$error">
						<div ng-message="required">First Name is required</div>
						<div ng-message="minlength">First Name must be at least 5 characters</div>
						<div ng-message="maxlength">First Name must be at most 100 characters</div>
						<div ng-message="pattern">Only alphabets and spaces allowed</div>
					</div>
				</div> -->
			</div>
			<div class="col-12 col-md">
				<div class="form-group">
					<label>Car Model</label>
					<select class="form-control" name="model" ng-model="vm.model">
						<option ng-repeat="m in vm.opt.model" value="m">{{ m }}</option>
					</select>
					
					<!-- <input type="text" name="lastName" class="form-control" required
						ng-model="vm.lastName"
						ng-minlength="5"
						ng-maxlength="100"
						ng-pattern="/^[A-z ]+$/"
						ng-custom-class-on-error="is-invalid">
					
					<div class="invalid-feedback" ng-messages="form.lastName.$error">
						<div ng-message="required">Last Name is required</div>
						<div ng-message="minlength">Last Name must be at least 5 characters</div>
						<div ng-message="maxlength">Last Name must be at most 100 characters</div>
						<div ng-message="pattern">Only alphabets and spaces allowed</div>
					</div> -->
				</div>
			</div>
		</div>
	</form>
	
	<step-form-buttons show-previous="true" show-next="true"
		on-previous="vm.goBack()"></step-form-button>
	
</div>
