<div ng-controller="ItemController as iCtrl">
	<h2>Step 2: Item Details</h2>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta repellat animi eos vitae quos iste neque debitis rem quas expedita distinctio incidunt doloremque cumque dolorem molestias vero, dolorum quia temporibus?</p>
	
	<form name="form" ng-submit="iCtrl.submit(form)" novalidate>
		<div class="row">
			<div class="col-12 col-md">
				<div class="form-group">
					<label>Car Brand</label>
					<select selector require
						placeholder="Select a car brand"
						remove-button="false"
						model="iCtrl.vm.brand"
						options="iCtrl.opt.brand"
						></select>
					
					<!-- <select class="form-control" name="brand" ng-model="iCtrl.vm.brand" ng-change="iCtrl.brandChange()">
						<option ng-repeat="b in iCtrl.opt.brand" value="{{ b }}">{{ b }}</option>
					</select> -->
					
					<!-- <input type="text" name="brand" class="form-control" required
						ng-model="iCtrl.vm.brand"
						ng-minlength="5"
						ng-maxlength="100"
						ng-pattern="/^[A-z ]+$/"
						ng-custom-class-on-error="is-invalid">
					
					<div class="invalid-feedback" ng-messages="form.brand.$error">
						<div ng-message="required">First Name is required</div>
						<div ng-message="minlength">First Name must be at least 5 characters</div>
						<div ng-message="maxlength">First Name must be at most 100 characters</div>
						<div ng-message="pattern">Only alphabets and spaces allowed</div>
					</div> -->
				</div>
			</div>
			<div class="col-12 col-md">
				<div class="form-group">
					<label>Car Model</label>
					<select class="form-control" name="model" ng-model="iCtrl.vm.model">
						<option ng-repeat="m in iCtrl.opt.model" value="m">{{ m }}</option>
					</select>
					
					<!-- <input type="text" name="lastName" class="form-control" required
						ng-model="iCtrl.vm.lastName"
						ng-minlength="5"
						ng-maxlength="100"
						ng-pattern="/^[A-z ]+$/"
						ng-custom-class-on-error="is-invalid">
					
					<div class="invalid-feedback" ng-messages="form.lastName.$error">
						<div ng-message="required">Last Name is required</div>
						<div ng-message="minlength">Last Name must be at least 5 characters</div>
						<div ng-message="maxlength">Last Name must be at most 100 characters</div>
						<div ng-message="pattern">Only alphabets and spaces allowed</div>
					</div> -->
				</div>
			</div>
		</div>
	</form>
	
	<step-form-buttons show-previous="true" show-next="true"
		on-previous="iCtrl.goBack()"></step-form-button>
	
</div>
